.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  background-color: rgb(173, 182, 255);
  border: solid black 2px;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.example-full-width {
  width: 100%;
}

button {
  background-color: rgb(173, 182, 255);
  font-weight: bold;
  font-size: 20px;
  color: white;
}

* {
  background-image: linear-gradient(
    to bottom,
    rgb(0, 47, 128),
    rgb(84, 178, 255)
  );
}
