<!--BUTTON-->
<button mat-raised-button(click)="openDialog(nome)">Abrir</button>

<!--MENU
<button mat-button [matMenuTriggerFor]="aboveMenu">Menu</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
<br />


<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>
</mat-drawer-container>
-->
<br />
<br />
<br />
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Nome completo:</mat-label>
    <input matInput [(ngModel)]="nome" />
  </mat-form-field>
</form>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Email:</mat-label>
    <input matInput placeholder="josecarmino@exemplo.com" />
  </mat-form-field>
</form>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Estado:</mat-label>
    <input matInput placeholder="Ex. SP" />
  </mat-form-field>
</form>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Endereço:</mat-label>
    <input matInput placeholder="Ex. Rua José Carmino nº69" />
  </mat-form-field>
</form>
